nav {
  background-color: #333333;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
button {
  background-color: #469237;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #175909;
}
body {
  background-color: #bdeadc;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}
.hidden {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
  }

  td:nth-of-type(1):before {
    content: "Tytuł:";
  }

  td:nth-of-type(2):before {
    content: "Artysta:";
  }

  td:nth-of-type(3):before {
    content: "Gatunek:";
  }

  td:nth-of-type(4):before {
    content: "BPM:";
  }

  td:nth-of-type(5):before {
    content: "Długość:";
  }

  td:nth-of-type(6):before {
    content: "Ulubione:";
  }
  nav {
    flex-direction: column;
  }
}

.favorite-button {
  cursor: pointer;
}
